node_modules
out
dist
.DS_Store
releases
node_modules
.vscode-test
.nyc_output
.nyc_output
*.log
*.vsix
tooling
**/build/
openocd.cfg
STM32Make.make
STM32-for-VSCode.config.yaml
**.svd
stats.json
webpack-stats.json
.stm32env
