.vscode
node_modules
CHANGELOG.md                    
app_ble.c                       
extension.js                    
jsconfig.json                   
package-lock.json               
stm32-for-vscode-1.5.0.vsix     
yarn-error.log
README.1.md                     
configFiles.js                                         
makeCmd.js                      
package.json                    
stm32-for-vscode-1.6.1.vsix     
yarn.lock
README.md                       
createMakefile.js               
info.js                         
makefileTemplate.js             
stm32-for-vscode-0.0.1.vsix     
vsc-extension-quickstart.md
STM32Cli.js                                                
init.js                         
node_modules                    
stm32-for-vscode-1.1.0.vsix     
webpack.config.js