.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
jsconfig.json
.babelrc
.eslinstrc.js
.gitignore
releases
coverage
.vscode-test
test
vsc-extension-quickstart.md
tooling
.nyc_output
.github
docs
out
.DS_Store
releases
*.log
*.vsix
**/build/
openocd.cfg
STM32Make.make
STM32-for-VSCode.config.yaml
stats.json
webpack-stats.json
docs/
dist/extension.js.LICENSE.txt